
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="section-hero forsticky">
  <div class="section-div">
    <div>
      <div class="hero">
        <h1 class="hero-h1">
          Art should be everywhere, Mod's are exactly for that.
        </h1>
      </div>
      <div class="hero-buttons">
        <a href="/howitworks" class="button2 but1">Start Learning Mod journey</a>
        <a href="/marketplace" class="button2 but2">Learn more</a>
      </div>
    </div>
  </div>
</section>

<section class="logos">
  <p class="feat-logos">Famous Mods Websites</p>
  <div class="logo-cont">
    <img src="/static/logo_dark_header.webp" alt="ModLand"/>
    <img src="/static/logo.webp" alt="MODHUB" />
    <img src="/static/BeamNG.drive-Logo.wine.png" alt="Beamng" />
    <img src="/static/logo_footer.png" alt="Modsgaming" />
    <img src="/static/logo.png" alt="Modsclub" />
  </div>
</section>
{% endblock %}
