<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/profile.css" />
  </head>
  <body>
    <div style="position: absolute; top: 20px; left: 30px;">
  <a href="{{ url_for('home') }}" style="
      background-color: #696969;
      color: white;
      padding: 10px 18px;
      border-radius: 8px;
      text-decoration: none;
      font-weight: 500;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      transition: background-color 0.3s ease;">
    ← Back to Home
  </a>
</div>
    <div class="container">
      <div class="image">
        <img src="/static/mod-logo-mod-letter-mod-letter-logo-design-initials-mod-logo-linked-with-circle-and-uppercase-monogram-logo-mod-typography-for-technology-business-and-real-estate-brand-vector.jpg" alt="pfp" />
        <h1 class="title">Saba Amiranashvili</h1>
        <p class="location">Georgia, Gori</p>
      </div>
      <div class="button-card">
        <a href="https://github.com/ggnbyZX" class="btn">GitHub</a>
        <a href="https://www.facebook.com/saba.amiranashvili.404575" class="btn">Facebook</a>
        <a href="https://www.modland.net/user/ggnbyzx" class="btn">Modland</a>
        <a href="https://x.com/ggnby_zx" class="btn">X</a>
        <a href="https://www.instagram.com/s_amiranashvili_09/" class="btn">Instagram</a>
      </div>
    </div>
  </body>
</html>
